$include /etc/inputrc
#set editing-mode vi
"\e[A": history-search-backward
"\e[B": history-search-forward
"\e\C-b":"\C-e > /dev/null 2>&1 &\C-m"
"\e\C-l":"\C-e | less\C-m"
"\e\C-y":"\C-ayes | \C-m"
"\es":"\C-asudo \C-e"
"\e[3;5~": kill-word
"\e\C-H": "\C-w"
"\en":"\C-a gnome-terminal --window-with-profile=v -e \'\C-e\'&disown\C-m"

"\et": "\C-a(\C-e | tee ~/output.log) 3>&2 2>&1 1>&3  | tee ~/err.log\C-m"
"\e\C-t": "\C-e 2> ~/err.log | tee ~/output.log\C-m"
"\el": "\C-e| less\C-m"
"\er": "\C-e cat ~/output.log"
"\ee": "\C-e cat ~/err.log"

"\e\C-r": "\C-e tail -f ~/output.log\C-m"
"\e\C-e": "\C-e tail -f ~/err.log\C-m"

#control-: backward-kill-word
#"\e\C-s": beginning-of-line "sudo "
